model/
.ipynb_checkpoints/
.ipynb_checkpoints/Basic Version-checkpoint.ipynb
.ipynb_checkpoints/Cifared Version-checkpoint.ipynb
.ipynb_checkpoints/Basic Version-checkpoint.ipynb
.ipynb_checkpoints/Cifared Version-checkpoint.ipynb

.ipynb_checkpoints/Cifared Version-checkpoint.ipynb
.ipynb_checkpoints/Basic Version-checkpoint.ipynb
